
/** INDEX PAGE CSS **/
#container {
    padding: 20px;
    width: 100%;
    height:100%;
  /*  background-color: #EEE;*/
    text-align: center;
    filter: blur(15px);
    opacity: 0.95;
}


.mainbody {
    background-image: url(https://source.unsplash.com/random);
}



/** 01KR PAGE CSS **/
#hexagon {
    animation: bobble 2s infinite;
}

@keyframes bobble {
    0% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(40px);
    }
    100% {
        transform: translateY(10px);
    }
}


#anotherhexagon:hover {
    transform: scale3d(1.2, 1.2, 1.2) rotate(45deg);
    transition: transform .1s;
  } 